#calculator-wrapper {
  display: flex;
  width: 25vw;
  flex-wrap: wrap;
}


.btn {
  flex: 1;
  padding: 20px 40px;
  background-color: lightgrey;
  border-radius: 5px;
  margin: 5px;
}

#display {
  flex: 1;
  min-width: 100%;
  border: 1px solid black;
}